/* Features classes */
.feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-title-holder {
    width: 80%;
}

.feature-title {
    color: white;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 0.6;
    margin-top: 1em;
}

.feature-title__italic {
    color: #1EBBD7;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 200;
}

.feature-card {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin: auto;
}

/* Responsive */
@media (max-width: 739px) {
    /* Mobile styles */
    .feature {
        width: 100%;
    }

    .feature-title,
    .feature-title__italic {
        font-size: 2.2rem;
    }

    .feature-card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    /* Tablet styles */
    .feature {
        width: 90%;
    }

    .feature-title,
    .feature-title__italic {
        font-size: 2.75rem;
    }

    .feature-card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1024px) {
    /* PC styles */
    .feature {
        width: 90%;
    }

    .feature-title,
    .feature-title__italic {
        font-size: 2.9rem;
    }

    .feature-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 25px;
        margin: 3em 0;
    }
}

@media (min-width: 1399px) {
    .feature-card {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px;
        margin: 3em 0;
    }
}