/* Base styles for all breakpoints */
.value-proposition-info__div {
    width: 80%;
    display: flex;
    flex-direction: column;
    /*overflow: scroll;*/
}

.title {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0.5em 0;
}

hr {
    height: 3px;
    background-color: black;
    border: none;
    opacity: 0.8;
}

.value-proposition-card__info {
    padding: 2em 2em 2em 0;
    margin: 2rem 0;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

    .value-proposition-card__info h4 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .value-proposition-card__info p {
        font-weight: 200;
    }

/* Responsive */
@media (max-width: 739px) {
    /* Mobile styles */
    .title {
        font-size: 2.2rem;
    }

    .value-proposition-card__info {
        padding: 0.5em 0.5em 0.5em 0;
        width: 100%;
        grid-template-columns: 1fr;
    }

        .value-proposition-card__info h4 {
            font-size: 1.9rem;
        }
}

@media (min-width: 740px) and (max-width: 1023px) {
    /* Tablet styles */
    .title {
        font-size: 2.75rem;
    }

    .value-proposition-card__info {
        padding: 0.5em 0.5em 0.5em 0;
        width: 100%;
        grid-template-columns: 1fr;
    }

        .value-proposition-card__info h4 {
            font-size: 2rem;
        }
}

@media (min-width: 1024px) {
    /* PC styles */
    .title {
        font-size: 2.9rem;
    }

    .value-proposition-card__info {
        width: 100%;
        padding: 1em 1em 1em 0;
        gap: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1398px) {
    .value-proposition-card__info h4 {
        font-size: 1.75rem;
    }
}
