.fcard {
    padding: 1em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    filter: brightness(88%);
    transition: transform 0.2s ease-in-out;
}

    .fcard:hover {
        transform: translateY(-2%);
    }

    .fcard img {
        height: 13rem;
        object-fit: cover;
        object-position: center center;
        filter: brightness(90%);
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.8);
    }

/* Responsive */
@media (max-width: 500px) {
    .fcard {
        padding: 0.8em 0.8em; /* Adjusted padding */
        margin: 0.625em 0.625em; /* Adjusted margin */
        align-items: center; /* Center the content horizontally */
        text-align: center; /* Center the content text */
    }

        .fcard img {
            width: 100%; /* Make the image fill the width of the container */
        }
}
