.navbar {
    background-color: #181818;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-sign-up {
    background-color: transparent;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.2em 1.5em;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-out;
    text-decoration: none;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#logo-name {
    width: 10rem;
}