.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../../../public/images/login-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    background-color: rgba(0,0,0,0.9);
    padding: 3rem 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25rem;
}

.title {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

    .input-container label {
        color: white;
    }

    .input-container input {
        height: 1.6rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

.forgot-password {
    font-size: 0.9rem;
    color: #1EBBD7;
    text-decoration: none;
    margin-top: 1rem;
}

    .forgot-password:hover {
        text-decoration: underline;
        color: #1999b0;
    }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

    .button-container button {
        cursor: pointer;
        font-size: 1rem;
        background: #1EBBD7;
        border: 1px solid #1999b0;
        color: #fff;
        padding: 10px 20px;
    }

        .button-container button:hover {
            background: #1999b0;
        }

.sign-in-text {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.sign-in-link {
    color: #1EBBD7;
    text-decoration: none;
}

    .sign-in-link:hover {
        text-decoration: underline;
        color: #1999b0;
    }

.error {
    color: red;
    font-size: 0.75rem;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .login-form {
        width: 20rem;
        padding: 1rem 2rem;
    }
}