/* SignUpPage.module.css */

.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../../public/images/login-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3rem 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25rem;
}

.title {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.625rem;
}

    .input-container label {
        color: white;
    }

    .input-container input {
        height: 1.6rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

.button-container {
    display: flex;
    justify-content: center;
}

    .button-container button {
        margin-top: 1rem;
        cursor: pointer;
        font-size: 1rem;
        background: #1EBBD7;
        border: 1px solid #1999b0;
        /*border-radius: 5px;*/
        color: #fff;
        padding: 0.625rem 1.25rem;
    }

        .button-container button:hover {
            background: #1999b0;
        }

.sign-up-text {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.sign-up-link {
    color: #1EBBD7;
    text-decoration: none;
}

    .sign-up-link:hover {
        text-decoration: underline;
        color: #1999b0;
    }

.error {
    color: red;
    font-size: 0.75rem;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .signup-form {
        width: 20rem;
        padding: 1rem 2rem;
    }
}